<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
<center>
    <h1>Buy N' Large</h1>
    <button onclick="window.location.href='/frontpage';">Products</button>
    <button onclick="window.location.href='/Cart';">Cart</button>
     <button onclick="window.location.href='/Login';">Login</button>
    <br/>
    <tr>
        <center>{{ message }}</center>
    </tr>
</center>